* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}



/******** barra navegación ******/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    padding: 1em 2em;
}

.desaparece {
    display: none;
}

header nav ul {
    list-style: none;
    display: flex;
}


nav ul li a {
    text-decoration: none;
    color: #000;
    display: block;
    width: 100%;
    padding: 0 .5em;
}

nav ul li a:hover {
    color: #98989b;
    transition: 1s;
}


.active {
    color: #98989b;
}


/****** vista inicio  ******/

#principal {
    background: linear-gradient(rgba(0, 0, 0, .4)34%, rgba(0, 0, 0, .9))100%, url(img/postre-principal.jpg);
    background-size: cover;
    background-position: center 60%;
    opacity: .8;
    min-height: 37em;
    text-align: center;
    color: #fff;
    text-shadow: rgb(22, 15, 15) 2px 1px 2px;
    padding-bottom: 1em;
}

#principal h1 {
    padding-top: 6em;
    font-size: 3em;
}

#principal p {
    letter-spacing: 1px;
    font-size: 1.2em;
    padding: 1em 0;
    width: 70%;
    margin: auto;
    text-justify: distribute;
    text-align: justify;
}

.boton {
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    color: #fff;
    border: solid 1px #fff;
    padding: .4rem 1rem;
    text-shadow: unset;
    border-radius: .2em;
    margin-top: 1em;
}

.boton:hover {
    background-color: #98989b;
    transition: 1s;
    transform: scale(1.1);
}

.btn2 {
    background-color: #ceb07f;
    border: solid 1px #fff;
}



/***** vista Sobre nosotros *****/

#nosotros {
    padding: 8.5em 0;
    display: flex;
    justify-content: space-around;
    background-color: rgba(228, 228, 228, 0.5)
}

.contenido,
.imagen {
    width: 40%;
}

.imagen img {
    width: 100%;
}

.contenido h3 {
    color: #c29d62;
}

.contenido hr {
    width: 20%;
    border: solid 1px #c29d62;
}

.contenido h2 {
    margin-top: 1em;
    margin-bottom: 1.5em;
    font-size: 2.5em;
    letter-spacing: 1px;
    font-family: sans-serif;
}

.contenido p {
    color: rgb(143, 143, 142);

    line-height: 1.5em;
}



/*****  menu de postres   *****/

#menu {
    margin-top: 5em;
    margin-bottom: 3em;
    text-align: center;
}

#menu h1 {
    font-size: 2.5em;
}

.piso1,
.piso2 {
    display: flex;
    justify-content: center;
}

.piso1 div,
.piso2 div {

    width: 32%;
    height: 16em;
    color: #fff;
    margin: 1em .4em;
    border-radius: .3em;

}

.postre1 {
    background: linear-gradient(rgba(255, 255, 255, 0.9)60%, rgba(255, 255, 255, 0.7)100%), url(img/postre1.jpg);
    background-size: cover;
}

.postre2 {
    background: linear-gradient(rgba(255, 255, 255, 0.9)60%, rgba(255, 255, 255, 0.7)100%), url(img/postre2.jpg);
    background-size: cover;
}

.postre3 {
    background: linear-gradient(rgba(255, 255, 255, 0.9)60%, rgba(255, 255, 255, 0.7)100%), url(img/postre3.jpg);
    background-size: cover;
}

.postre4 {
    background: linear-gradient(rgba(255, 255, 255, 0.9)60%, rgba(255, 255, 255, 0.7)100%), url(img/postre4.jpg);
    background-size: cover;
}

.postre5 {
    background: linear-gradient(rgba(255, 255, 255, 0.9)60%, rgba(255, 255, 255, 0.7)100%), url(img/postre5.jpg);
    background-size: cover;
}

.postre6 {
    background: linear-gradient(rgba(255, 255, 255, 0.9)60%, rgba(255, 255, 255, 0.7)100%), url(img/postre6.jpg);
    background-size: cover;
}

.precio {
    color: #c29d62;
    font-size: 1.2em;
    margin: 1em 0;

}

.titulo {
    color: #000;
    font-size: 1.3em;
    margin-bottom: 1em;
}

.texto {
    line-height: 1.8em;
    color: #818181;
    padding: 0 .5em;
}

.postre1:hover {
    background: url(img/postre1.jpg);
    background-size: cover;
}

.postre1:hover .texto,
.postre1:hover .titulo,
.postre1:hover .precio {
    color: transparent;
}

.postre2:hover {
    background: url(img/postre2.jpg);
    background-size: cover;
}

.postre2:hover .texto,
.postre2:hover .titulo,
.postre2:hover .precio {
    color: transparent;
}

.postre3:hover {
    background: url(img/postre3.jpg);
    background-size: cover;
    background-position: 100% 85%;
}

.postre3:hover .texto,
.postre3:hover .titulo,
.postre3:hover .precio {
    color: transparent;
}

.postre4:hover {
    background: url(img/postre4.jpg);
    background-size: cover;
}

.postre4:hover .texto,
.postre4:hover .titulo,
.postre4:hover .precio {
    color: transparent;
}

.postre5:hover {
    background: url(img/postre5.jpg);
    background-size: cover;
}

.postre5:hover .texto,
.postre5:hover .titulo,
.postre5:hover .precio {
    color: transparent;
}

.postre6:hover {
    background: url(img/postre6.jpg);
    background-size: cover;
}

.postre6:hover .texto,
.postre6:hover .titulo,
.postre6:hover .precio {
    color: transparent;
}


/***** contacto *****/

#contacto {
    padding-top: 8em;
    padding-bottom: 3em;
    display: flex;
    justify-content: space-around;
    background-color: #c29d62;
}

.column1,
.column2 {
    background-color: #292929;
    color: rgb(224, 224, 224);
    padding: 2em;
    width: 35%;
    height: 30em;
    text-align: center;
    border-radius: .3em;
}

.column1 h2 {
    margin-top: 3em;
}

.column2 h2{
    margin-top: 1.6em;
}

.column1 ul {
    list-style: none;
    border-bottom: solid 1px #c29d62;
    margin-bottom: 1em;
    margin-top: 1.3em;
}

.column2 h3 {
    margin-top: 1em;
}

.column2 hr {
    border: solid 1px #c29d62;
    margin: .2em;
}

.column2 form {
    margin-top: 3.5em;

}

.column2 input {
    display: block;
    margin: 1em auto;
    width: 80%;
    background-color: #000;
    padding: 1em;
    border: none;
    color: #fff;
}

.column2 button {
    display: block;
    margin: auto;
    background-color: #c7aa7b;
    padding: .6rem 1.6rem;
    border: none;
    border-radius: .5em;
    color: #f1eadd;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: #292929;
    padding: 1em;
    color: #fff;
}

footer i {
    margin-right: .5em;
}

.redes i:hover {
    transform: rotate(360deg);
    transition: 1.2s;
}



/***************************
 media querys
****************************/

@media (max-width:655px) {

    header {
        display: block;
    }

    header .logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    header nav ul {
        background-color: #f1eadd;
        display: block;
        text-align: center;
        padding-top: .5em;
        position: absolute;
        width: 100%;
        z-index: 1;

    }
    header nav li{
        margin-bottom: .3em;
    }

    header nav li a{
        padding: .4em;
        width: 90%;
        margin: auto;
        border-radius: .4em;
        /* border-bottom: dotted 1px #c29d62; */
        
    }

    header nav li a:hover{
        background-color: #98989b;
        color: #fff;
        
    }

    header nav li a.active {
        color: #1f1f1f;
        background-color: #cfcfcf;
    }

    header nav {
        display: none;
    }

    .desaparece {
        display: inline;
        cursor: pointer;
    }
    


    #principal {
        font-size: .8em;
    }

    #principal p {
        text-align: center;
        width: 90%;
    }



    /** vista sobre nosotros **/

    #nosotros {
        padding: 5em 0;
        display: block;
        font-size: .9em;
        text-align: center;
    }

    .contenido,
    .imagen {
        width: 100%;
        padding: 0 1em;
    }

    .contenido hr {
        width: 100%;
    }

    .contenido p {
        margin-bottom: 1em;
        text-align: justify;
    }


    /**** vista menu delis ****/


    .piso1,
    .piso2 {
        display: block;

    }

    .piso1 div,
    .piso2 div {
        width: 95%;
        margin: 0 .5em;
    }

    #contacto {
        display: block;
        padding-top: 4em;
    }

    .column1,
    .column2 {
        width: 90%;
        margin: auto;
        margin-top: 2em;
    }

    footer{
        display:block;
        text-align: center;
        font-size: .8em;
    }
    footer .redes{
        margin-top: 1em;
        
    }
}

@media (min-width:655px) and (max-width:1080px) {

    .imagen{
        padding-top: 3em;
    }

    #menu .contenedor{
        display: flex;
        justify-content: center;
    }
    .piso1,.piso2 {
        flex-direction: column;
        margin-right: 1em;
    }
    
    .piso1 div,
    .piso2 div{
    width: 100%;
}
}